@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; 
}
html,body{
  height: 100%;
}
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
$transform-time:2s;
body{
  @include flexCenter;
  .box{
    width: 400px;
    height: 400px;
    @include flexCenter;
    border-radius: 3px;
    background: #222;
    .center{
      width: 100px;
      height: 100px;
      background: #fff;
      border-radius: 100%;
      position: relative;
      @include flexCenter;
      animation:centerRotate $transform-time linear infinite;
    }
  }
}
@keyframes centerRotate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}