@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400,300,300italic);
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  transition: .3s;
}
html,body{
  height: 100%;
}
@mixin displayflex {
  display: flex;
  justify-content: center;
  align-items: center;
}
body{
  @include displayflex();
  background: #fff;
}
.box{
  width: 400px;
  height: 400px;
  border-radius: 3px;
	background: #4CB6DE;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 20px;
  overflow: hidden;
  .quote{
    position: absolute;
    inset: 0;
    font-size: 80px;
    color: #6AC2E3;
    transform: translate(20px,50px);
  }
  .text{
    font-size:24px;
    color: #fff;
    font-weight: 600;
    z-index: 1;
    margin: 30px 0;
    padding-top: 20px;

    & > span{
      padding: 2px 6px;
      background: #286F8A;
      cursor: pointer;

      &:hover ~ .popup{
        opacity: 1;
        visibility: visible;
        transform: translate(-50%,calc(-50% - 120px));
      }
    }
    .popup{
      display: flex;
      position: absolute;
      width: 300px;
      height: 130px;
      background: red;
      left: 50%;
      top: 50%;
      transition: .5s;
      opacity: 0;
      visibility: hidden;
      transform: translate(-50%,calc(-50% - 134px));
      flex-direction: column;
      .top,.bottom{
        width: 100%;
      }
      .top{
        height: 30px;
        background: #fff;
        color: #286F8A;
        display: flex;
        align-items: center;
        font-size: 16px;

        & > span{
          margin-left: 16px;
        }
        i{
          font-size: 13px;
          transform: translate(8px,2px);
          cursor: pointer;
          &:hover{
            transform: translate(8px,2px) scale(1.15);
          }
        }
      }
      .bottom{
        background: #286F8A;
        flex: 1;
        padding: 16px;
        font-size: 16px;
        & > span{
          font-weight: 400;
          & > span{
          font-weight: 600;
          }
        }
      }
      &::after{
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        background: #286F8A;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,4px) rotate(45deg);
      }
    }
  }
  .albert{
    font-style: italic;
    font-size: 20px;
    color: #fff;
  }
}