@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html,body{
  height: 100%;
}
$time:1s;
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
body{
  @include flexCenter();
  .box{
    background: #ccc;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 3px;
    @include flexCenter();
    flex-direction: column;
    position: relative;
    .top{
      background: #1A2238;
      width: 100%;
      flex:1;
      position: relative;
      overflow: hidden;
      z-index: 1;
      .moon{
        width: 70px;
        height: 70px;
        background: #F6EDBD;
        border-radius: 100%;
        box-shadow: 0 0 10px 0 #F6EDBD;
        position: relative;
        transform: translate(50px,40px);
        @include flexCenter();
        overflow: hidden;
        z-index: 2;
        .crater{
          position: absolute;
          width: 10px;
          height: 10px;
          background: #ECE1A8;
          border-radius: 100%;
        }
        .crater-1{
          left: 10px;
          top: 10px;
        }
        .crater-2{
          left: 54px;
          top: 10px;
        }
        .crater-3{
          left: 50px;
          top: 40px;
          width: 8px;
          height: 8px;
        }
        .crater-4{
          left: 30px;
          top: 64px;
        }
        .crater-5{
          left: 14px;
          top: 44px;
        }
      }
      .bg-1{
        width: 400px;
        height: 300px;
        background: #26314F;
        position: absolute;
        bottom: 0;
        transform: translate(-80px,190px);
        border-radius: 100%;
        z-index: 1;
        &::after{
          content: '';
          position: absolute;
          border-radius: 100%;
          transform: translate(220px,-4px);
          width: 400px;
          height: 300px;
          background: #26314F;
        }
      }
      .bg-2{
        width: 300px;
        height: 300px;
        background: #303C5D;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-40%,200px);
        border-radius: 100%;
        z-index: 1;
        &::after,&::before{
          content: '';
          position: absolute;
          background: #303C5D;
          border-radius: 100%;
        }
        &::after{
          transform: translate(200px,40px);
          width: 300px;
          height: 300px;
        }
        &::before{
          width: 450px;
          height: 400px;
          transform: translate(-300px,30px) rotate(-20deg);
        }
      }
      .drop{
        border-radius: 50px 0px 50px 50px;
        position: absolute;
        z-index: 2;
        transform:scale(1,2) rotate(-30deg);
      }
      .drop-big{
        width: 12px;
        height:12px;
        background: #7FC1F9;
      }
      .drop-midium{
        width: 10px;
        height:10px;
        background: #7fc0f981;
      }
      .drop-small{
        width: 8px;
        height:8px;
        background: #7fc0f960;
      }
      .drop-1{
        animation: drop-1 $time linear 0.96s infinite;
        animation-delay: 1s;
        top: -30px;left: 90%;
      }
      .drop-2{
        animation: drop-2 $time linear 1.4s infinite;
        top: -30px;left: 50%;
      }
      .drop-3{
        animation: drop-3 $time linear 1.8s infinite;
        top: -30px;left: 40%;
      }
      .drop-4{
        animation: drop-4 $time linear 0.5s infinite;
        top: -30px;left: 70%;
      }
      @keyframes drop-1{
        0%,89%{
          transform:scale(.8,1.2) rotate(-30deg);
          opacity: 1;
        }
        90%{
          top: calc(100% + -9px);
          left: 70%;
          transform:scale(.8,.3) rotate(-30deg);
          opacity: 1;
        }
       100%{
          top: calc(100% + -9px);
          left: 70%;
          transform:scale(.8,.3) rotate(-30deg);
          opacity: 0;
        }
      }
      @keyframes drop-2{
        0%,89%{
          transform:scale(.8,1.2) rotate(-30deg);
          opacity: 1;
        }
        90%{
          top: calc(100% + -7px);
          left: 30%;
          transform:scale(.8,.3) rotate(-30deg);
          opacity: 1;
        }
        100%{
          top: calc(100% + -7px);
          left: 30%;
          transform:scale(.8,.3) rotate(-30deg);
          opacity: 0;
        }
      }
      @keyframes drop-3{
        0%,89%{
          transform:scale(.8,1.2) rotate(-30deg);
          opacity: 1;
        }
        90%{
          top: calc(100% + -7px);
          left: 20%;
          transform:scale(.8,.3) rotate(-30deg);
          opacity: 1;
        }
        100%{
          top: calc(100% + -7px);
          left: 20%;
          transform:scale(.8,.3) rotate(-30deg);
          opacity: 0;
        }
      }
      @keyframes drop-4{
        0%,89%{
          transform:scale(.8,1.2) rotate(-30deg);
          opacity: 1;
        }
        90%{
          top: calc(100% + -7px);
          left: 50%;
          transform:scale(.8,.3) rotate(-30deg);
          opacity: 1;
        }
        100%{
          top: calc(100% + -7px);
          left: 50%;
          transform:scale(.8,.3) rotate(-30deg);
          opacity: 0;
        }
      }
    }
    .bottom{
      background: #fff;
      width: 100%;
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #ccc;
      .text{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 10px;
        color: rgba(57, 69, 104, 0.9);
      }
      .one-text{
        font-size: 50px;
        
      }
      .two-text{
        margin-left: -60px;
      }
      .three-text{
        align-items: center;
        .bold{
          font-weight: bold;
          margin-left: 10px;
        }
      }
    }
  }
}