@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

body .box {
  background: #ccc;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body .box .top {
  background: #1A2238;
  width: 100%;
  flex: 1;
  position: relative;
  overflow: hidden;
}

body .box .top .moon {
  width: 70px;
  height: 70px;
  background: #F6EDBD;
  border-radius: 100%;
  box-shadow: 0 0 10px 0 #F6EDBD;
  position: relative;
  transform: translate(50px, 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

body .box .top .moon .crater {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #ECE1A8;
  border-radius: 100%;
}

body .box .top .moon .crater-1 {
  left: 10px;
  top: 10px;
}

body .box .top .moon .crater-2 {
  left: 54px;
  top: 10px;
}

body .box .top .moon .crater-3 {
  left: 50px;
  top: 40px;
  width: 8px;
  height: 8px;
}

body .box .top .moon .crater-4 {
  left: 30px;
  top: 64px;
}

body .box .top .moon .crater-5 {
  left: 14px;
  top: 44px;
}

body .box .top .bg-1 {
  width: 400px;
  height: 300px;
  background: #26314F;
  position: absolute;
  bottom: 0;
  transform: translate(-80px, 190px);
  border-radius: 100%;
}

body .box .top .bg-1::after {
  content: '';
  position: absolute;
  border-radius: 100%;
  transform: translate(220px, -4px);
  width: 400px;
  height: 300px;
  background: #26314F;
}

body .box .top .bg-2 {
  width: 300px;
  height: 300px;
  background: #303C5D;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-40%, 200px);
  border-radius: 100%;
}

body .box .top .bg-2::after, body .box .top .bg-2::before {
  content: '';
  position: absolute;
  background: #303C5D;
  border-radius: 100%;
}

body .box .top .bg-2::after {
  transform: translate(200px, 40px);
  width: 300px;
  height: 300px;
}

body .box .top .bg-2::before {
  width: 450px;
  height: 400px;
  transform: translate(-300px, 30px) rotate(-20deg);
}

body .box .bottom {
  background: #fff;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

body .box .bottom .text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  color: rgba(57, 69, 104, 0.9);
}

body .box .bottom .one-text {
  font-size: 50px;
}

body .box .bottom .two-text {
  margin-left: -60px;
}

body .box .bottom .three-text {
  align-items: center;
}

body .box .bottom .three-text .bold {
  font-weight: bold;
  margin-left: 10px;
}
/*# sourceMappingURL=style.css.map */