* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 400px;
  height: 400px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: #222;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  border-radius: 3px;
  overflow: hidden;
}

.box .container {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background: linear-gradient(to bottom, #1d4253 0%, #6bb5c4 100%);
  position: relative;
  overflow: hidden;
}

.box .container .star {
  width: 1px;
  height: 1px;
  background: #fff;
  inset: 0;
  position: absolute;
  border-radius: 100%;
}

.box .container .star.star-1 {
  left: 271px;
  top: 146px;
  animation: 1s opacity alternate infinite;
  animation-delay: 3s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-2 {
  left: 4px;
  top: 121px;
  animation: 1s opacity alternate infinite;
  animation-delay: 15s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-3 {
  left: 285px;
  top: 195px;
  animation: 2s opacity alternate infinite;
  animation-delay: 16s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-4 {
  left: 21px;
  top: 204px;
  animation: 1s opacity alternate infinite;
  animation-delay: 15s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-5 {
  left: 202px;
  top: 157px;
  animation: 1s opacity alternate infinite;
  animation-delay: 3s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-6 {
  left: 260px;
  top: 178px;
  animation: 1s opacity alternate infinite;
  animation-delay: 4s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-7 {
  left: 131px;
  top: 155px;
  animation: 1s opacity alternate infinite;
  animation-delay: 13s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-8 {
  left: 53px;
  top: 249px;
  animation: 1s opacity alternate infinite;
  animation-delay: 13s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-9 {
  left: 17px;
  top: 182px;
  animation: 2s opacity alternate infinite;
  animation-delay: 6s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-10 {
  left: 120px;
  top: 36px;
  animation: 2s opacity alternate infinite;
  animation-delay: 10s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-11 {
  left: 174px;
  top: 281px;
  animation: 1s opacity alternate infinite;
  animation-delay: 4s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-12 {
  left: 254px;
  top: 47px;
  animation: 1s opacity alternate infinite;
  animation-delay: 2s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-13 {
  left: 238px;
  top: 32px;
  animation: 2s opacity alternate infinite;
  animation-delay: 4s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-14 {
  left: 283px;
  top: 163px;
  animation: 2s opacity alternate infinite;
  animation-delay: 6s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-15 {
  left: 98px;
  top: 91px;
  animation: 1s opacity alternate infinite;
  animation-delay: 16s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-16 {
  left: 245px;
  top: 106px;
  animation: 1s opacity alternate infinite;
  animation-delay: 19s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-17 {
  left: 49px;
  top: 194px;
  animation: 2s opacity alternate infinite;
  animation-delay: 8s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-18 {
  left: 211px;
  top: 1px;
  animation: 2s opacity alternate infinite;
  animation-delay: 11s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-19 {
  left: 121px;
  top: 74px;
  animation: 2s opacity alternate infinite;
  animation-delay: 10s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-20 {
  left: 154px;
  top: 161px;
  animation: 1s opacity alternate infinite;
  animation-delay: 17s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-21 {
  left: 28px;
  top: 140px;
  animation: 2s opacity alternate infinite;
  animation-delay: 19s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-22 {
  left: 142px;
  top: 115px;
  animation: 2s opacity alternate infinite;
  animation-delay: 12s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-23 {
  left: 140px;
  top: 170px;
  animation: 2s opacity alternate infinite;
  animation-delay: 11s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-24 {
  left: 77px;
  top: 144px;
  animation: 1s opacity alternate infinite;
  animation-delay: 17s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-25 {
  left: 256px;
  top: 188px;
  animation: 2s opacity alternate infinite;
  animation-delay: 12s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-26 {
  left: 203px;
  top: 260px;
  animation: 1s opacity alternate infinite;
  animation-delay: 20s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-27 {
  left: 66px;
  top: 114px;
  animation: 2s opacity alternate infinite;
  animation-delay: 10s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-28 {
  left: 174px;
  top: 124px;
  animation: 2s opacity alternate infinite;
  animation-delay: 1s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-29 {
  left: 222px;
  top: 1px;
  animation: 1s opacity alternate infinite;
  animation-delay: 7s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-30 {
  left: 186px;
  top: 161px;
  animation: 1s opacity alternate infinite;
  animation-delay: 8s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-31 {
  left: 222px;
  top: 142px;
  animation: 2s opacity alternate infinite;
  animation-delay: 7s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-32 {
  left: 99px;
  top: 1px;
  animation: 2s opacity alternate infinite;
  animation-delay: 15s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-33 {
  left: 50px;
  top: 57px;
  animation: 1s opacity alternate infinite;
  animation-delay: 19s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-34 {
  left: 212px;
  top: 292px;
  animation: 2s opacity alternate infinite;
  animation-delay: 1s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-35 {
  left: 87px;
  top: 111px;
  animation: 1s opacity alternate infinite;
  animation-delay: 4s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-36 {
  left: 192px;
  top: 153px;
  animation: 2s opacity alternate infinite;
  animation-delay: 7s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-37 {
  left: 90px;
  top: 117px;
  animation: 2s opacity alternate infinite;
  animation-delay: 12s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-38 {
  left: 265px;
  top: 291px;
  animation: 2s opacity alternate infinite;
  animation-delay: 1s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-39 {
  left: 91px;
  top: 152px;
  animation: 2s opacity alternate infinite;
  animation-delay: 17s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-40 {
  left: 205px;
  top: 85px;
  animation: 1s opacity alternate infinite;
  animation-delay: 7s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-41 {
  left: 297px;
  top: 246px;
  animation: 2s opacity alternate infinite;
  animation-delay: 14s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-42 {
  left: 86px;
  top: 246px;
  animation: 2s opacity alternate infinite;
  animation-delay: 14s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-43 {
  left: 121px;
  top: 68px;
  animation: 2s opacity alternate infinite;
  animation-delay: 10s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-44 {
  left: 187px;
  top: 17px;
  animation: 1s opacity alternate infinite;
  animation-delay: 8s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-45 {
  left: 30px;
  top: 255px;
  animation: 1s opacity alternate infinite;
  animation-delay: 4s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-46 {
  left: 225px;
  top: 218px;
  animation: 1s opacity alternate infinite;
  animation-delay: 4s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-47 {
  left: 153px;
  top: 194px;
  animation: 2s opacity alternate infinite;
  animation-delay: 20s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-48 {
  left: 295px;
  top: 16px;
  animation: 2s opacity alternate infinite;
  animation-delay: 14s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-49 {
  left: 114px;
  top: 149px;
  animation: 1s opacity alternate infinite;
  animation-delay: 13s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-50 {
  left: 296px;
  top: 289px;
  animation: 2s opacity alternate infinite;
  animation-delay: 13s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-51 {
  left: 174px;
  top: 238px;
  animation: 2s opacity alternate infinite;
  animation-delay: 6s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-52 {
  left: 262px;
  top: 55px;
  animation: 1s opacity alternate infinite;
  animation-delay: 13s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-53 {
  left: 46px;
  top: 80px;
  animation: 1s opacity alternate infinite;
  animation-delay: 7s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-54 {
  left: 171px;
  top: 122px;
  animation: 2s opacity alternate infinite;
  animation-delay: 11s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-55 {
  left: 117px;
  top: 203px;
  animation: 1s opacity alternate infinite;
  animation-delay: 6s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-56 {
  left: 36px;
  top: 225px;
  animation: 2s opacity alternate infinite;
  animation-delay: 19s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-57 {
  left: 53px;
  top: 39px;
  animation: 2s opacity alternate infinite;
  animation-delay: 3s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-58 {
  left: 227px;
  top: 188px;
  animation: 1s opacity alternate infinite;
  animation-delay: 20s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-59 {
  left: 2px;
  top: 31px;
  animation: 2s opacity alternate infinite;
  animation-delay: 12s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-60 {
  left: 29px;
  top: 2px;
  animation: 1s opacity alternate infinite;
  animation-delay: 12s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-61 {
  left: 67px;
  top: 267px;
  animation: 2s opacity alternate infinite;
  animation-delay: 16s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-62 {
  left: 248px;
  top: 174px;
  animation: 1s opacity alternate infinite;
  animation-delay: 4s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-63 {
  left: 272px;
  top: 283px;
  animation: 1s opacity alternate infinite;
  animation-delay: 3s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-64 {
  left: 65px;
  top: 177px;
  animation: 2s opacity alternate infinite;
  animation-delay: 13s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-65 {
  left: 14px;
  top: 231px;
  animation: 2s opacity alternate infinite;
  animation-delay: 1s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-66 {
  left: 210px;
  top: 224px;
  animation: 1s opacity alternate infinite;
  animation-delay: 1s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-67 {
  left: 1px;
  top: 8px;
  animation: 2s opacity alternate infinite;
  animation-delay: 3s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-68 {
  left: 56px;
  top: 58px;
  animation: 1s opacity alternate infinite;
  animation-delay: 15s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-69 {
  left: 56px;
  top: 269px;
  animation: 2s opacity alternate infinite;
  animation-delay: 1s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-70 {
  left: 171px;
  top: 92px;
  animation: 2s opacity alternate infinite;
  animation-delay: 16s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-71 {
  left: 204px;
  top: 106px;
  animation: 1s opacity alternate infinite;
  animation-delay: 5s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-72 {
  left: 215px;
  top: 121px;
  animation: 1s opacity alternate infinite;
  animation-delay: 4s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-73 {
  left: 22px;
  top: 235px;
  animation: 2s opacity alternate infinite;
  animation-delay: 14s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-74 {
  left: 281px;
  top: 251px;
  animation: 2s opacity alternate infinite;
  animation-delay: 16s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-75 {
  left: 272px;
  top: 44px;
  animation: 1s opacity alternate infinite;
  animation-delay: 2s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-76 {
  left: 116px;
  top: 75px;
  animation: 1s opacity alternate infinite;
  animation-delay: 1s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-77 {
  left: 297px;
  top: 243px;
  animation: 1s opacity alternate infinite;
  animation-delay: 15s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-78 {
  left: 18px;
  top: 207px;
  animation: 1s opacity alternate infinite;
  animation-delay: 15s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-79 {
  left: 155px;
  top: 118px;
  animation: 2s opacity alternate infinite;
  animation-delay: 1s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-80 {
  left: 252px;
  top: 28px;
  animation: 1s opacity alternate infinite;
  animation-delay: 17s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-81 {
  left: 195px;
  top: 113px;
  animation: 2s opacity alternate infinite;
  animation-delay: 8s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-82 {
  left: 207px;
  top: 260px;
  animation: 1s opacity alternate infinite;
  animation-delay: 14s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-83 {
  left: 138px;
  top: 164px;
  animation: 2s opacity alternate infinite;
  animation-delay: 1s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-84 {
  left: 209px;
  top: 198px;
  animation: 1s opacity alternate infinite;
  animation-delay: 11s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-85 {
  left: 140px;
  top: 82px;
  animation: 1s opacity alternate infinite;
  animation-delay: 3s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-86 {
  left: 251px;
  top: 32px;
  animation: 2s opacity alternate infinite;
  animation-delay: 13s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-87 {
  left: 286px;
  top: 97px;
  animation: 1s opacity alternate infinite;
  animation-delay: 9s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-88 {
  left: 182px;
  top: 179px;
  animation: 1s opacity alternate infinite;
  animation-delay: 5s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-89 {
  left: 111px;
  top: 256px;
  animation: 1s opacity alternate infinite;
  animation-delay: 10s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-90 {
  left: 127px;
  top: 183px;
  animation: 1s opacity alternate infinite;
  animation-delay: 4s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-91 {
  left: 144px;
  top: 106px;
  animation: 2s opacity alternate infinite;
  animation-delay: 4s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-92 {
  left: 200px;
  top: 211px;
  animation: 2s opacity alternate infinite;
  animation-delay: 15s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-93 {
  left: 295px;
  top: 70px;
  animation: 1s opacity alternate infinite;
  animation-delay: 15s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-94 {
  left: 240px;
  top: 108px;
  animation: 1s opacity alternate infinite;
  animation-delay: 4s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-95 {
  left: 87px;
  top: 10px;
  animation: 2s opacity alternate infinite;
  animation-delay: 17s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-96 {
  left: 113px;
  top: 125px;
  animation: 2s opacity alternate infinite;
  animation-delay: 6s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-97 {
  left: 140px;
  top: 138px;
  animation: 1s opacity alternate infinite;
  animation-delay: 4s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-98 {
  left: 225px;
  top: 53px;
  animation: 1s opacity alternate infinite;
  animation-delay: 3s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-99 {
  left: 280px;
  top: 86px;
  animation: 1s opacity alternate infinite;
  animation-delay: 13s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-100 {
  left: 298px;
  top: 261px;
  animation: 2s opacity alternate infinite;
  animation-delay: 3s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-101 {
  left: 158px;
  top: 158px;
  animation: 2s opacity alternate infinite;
  animation-delay: 19s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-102 {
  left: 273px;
  top: 213px;
  animation: 1s opacity alternate infinite;
  animation-delay: 5s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-103 {
  left: 36px;
  top: 162px;
  animation: 1s opacity alternate infinite;
  animation-delay: 3s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-104 {
  left: 292px;
  top: 46px;
  animation: 1s opacity alternate infinite;
  animation-delay: 3s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-105 {
  left: 120px;
  top: 95px;
  animation: 1s opacity alternate infinite;
  animation-delay: 4s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-106 {
  left: 299px;
  top: 102px;
  animation: 1s opacity alternate infinite;
  animation-delay: 15s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-107 {
  left: 264px;
  top: 163px;
  animation: 1s opacity alternate infinite;
  animation-delay: 20s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-108 {
  left: 137px;
  top: 136px;
  animation: 2s opacity alternate infinite;
  animation-delay: 13s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-109 {
  left: 134px;
  top: 288px;
  animation: 2s opacity alternate infinite;
  animation-delay: 4s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-110 {
  left: 165px;
  top: 153px;
  animation: 1s opacity alternate infinite;
  animation-delay: 12s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-111 {
  left: 256px;
  top: 81px;
  animation: 2s opacity alternate infinite;
  animation-delay: 19s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-112 {
  left: 201px;
  top: 45px;
  animation: 1s opacity alternate infinite;
  animation-delay: 15s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-113 {
  left: 58px;
  top: 106px;
  animation: 1s opacity alternate infinite;
  animation-delay: 17s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-114 {
  left: 142px;
  top: 93px;
  animation: 1s opacity alternate infinite;
  animation-delay: 15s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-115 {
  left: 237px;
  top: 36px;
  animation: 1s opacity alternate infinite;
  animation-delay: 15s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-116 {
  left: 68px;
  top: 172px;
  animation: 2s opacity alternate infinite;
  animation-delay: 18s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-117 {
  left: 188px;
  top: 211px;
  animation: 2s opacity alternate infinite;
  animation-delay: 4s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-118 {
  left: 31px;
  top: 271px;
  animation: 1s opacity alternate infinite;
  animation-delay: 18s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-119 {
  left: 203px;
  top: 165px;
  animation: 2s opacity alternate infinite;
  animation-delay: 16s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-120 {
  left: 47px;
  top: 256px;
  animation: 2s opacity alternate infinite;
  animation-delay: 19s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-121 {
  left: 14px;
  top: 201px;
  animation: 2s opacity alternate infinite;
  animation-delay: 20s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-122 {
  left: 208px;
  top: 279px;
  animation: 1s opacity alternate infinite;
  animation-delay: 10s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-123 {
  left: 225px;
  top: 166px;
  animation: 2s opacity alternate infinite;
  animation-delay: 20s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-124 {
  left: 238px;
  top: 67px;
  animation: 2s opacity alternate infinite;
  animation-delay: 5s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-125 {
  left: 26px;
  top: 271px;
  animation: 1s opacity alternate infinite;
  animation-delay: 16s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-126 {
  left: 184px;
  top: 214px;
  animation: 2s opacity alternate infinite;
  animation-delay: 14s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-127 {
  left: 198px;
  top: 79px;
  animation: 1s opacity alternate infinite;
  animation-delay: 7s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-128 {
  left: 210px;
  top: 59px;
  animation: 1s opacity alternate infinite;
  animation-delay: 17s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-129 {
  left: 245px;
  top: 238px;
  animation: 2s opacity alternate infinite;
  animation-delay: 14s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-130 {
  left: 231px;
  top: 123px;
  animation: 2s opacity alternate infinite;
  animation-delay: 9s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-131 {
  left: 234px;
  top: 240px;
  animation: 1s opacity alternate infinite;
  animation-delay: 5s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-132 {
  left: 210px;
  top: 262px;
  animation: 2s opacity alternate infinite;
  animation-delay: 19s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-133 {
  left: 46px;
  top: 71px;
  animation: 2s opacity alternate infinite;
  animation-delay: 19s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-134 {
  left: 85px;
  top: 174px;
  animation: 2s opacity alternate infinite;
  animation-delay: 3s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-135 {
  left: 298px;
  top: 234px;
  animation: 2s opacity alternate infinite;
  animation-delay: 1s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-136 {
  left: 205px;
  top: 27px;
  animation: 2s opacity alternate infinite;
  animation-delay: 9s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-137 {
  left: 76px;
  top: 126px;
  animation: 2s opacity alternate infinite;
  animation-delay: 18s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-138 {
  left: 225px;
  top: 3px;
  animation: 1s opacity alternate infinite;
  animation-delay: 19s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-139 {
  left: 228px;
  top: 230px;
  animation: 2s opacity alternate infinite;
  animation-delay: 2s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-140 {
  left: 240px;
  top: 6px;
  animation: 1s opacity alternate infinite;
  animation-delay: 11s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-141 {
  left: 110px;
  top: 101px;
  animation: 2s opacity alternate infinite;
  animation-delay: 15s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-142 {
  left: 155px;
  top: 292px;
  animation: 2s opacity alternate infinite;
  animation-delay: 6s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-143 {
  left: 226px;
  top: 200px;
  animation: 2s opacity alternate infinite;
  animation-delay: 19s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-144 {
  left: 259px;
  top: 268px;
  animation: 1s opacity alternate infinite;
  animation-delay: 17s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-145 {
  left: 95px;
  top: 93px;
  animation: 1s opacity alternate infinite;
  animation-delay: 2s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-146 {
  left: 176px;
  top: 251px;
  animation: 1s opacity alternate infinite;
  animation-delay: 7s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-147 {
  left: 270px;
  top: 218px;
  animation: 2s opacity alternate infinite;
  animation-delay: 20s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-148 {
  left: 297px;
  top: 223px;
  animation: 1s opacity alternate infinite;
  animation-delay: 11s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-149 {
  left: 197px;
  top: 137px;
  animation: 1s opacity alternate infinite;
  animation-delay: 7s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-150 {
  left: 209px;
  top: 211px;
  animation: 1s opacity alternate infinite;
  animation-delay: 17s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-151 {
  left: 237px;
  top: 46px;
  animation: 2s opacity alternate infinite;
  animation-delay: 20s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-152 {
  left: 46px;
  top: 160px;
  animation: 2s opacity alternate infinite;
  animation-delay: 7s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-153 {
  left: 73px;
  top: 141px;
  animation: 1s opacity alternate infinite;
  animation-delay: 16s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-154 {
  left: 213px;
  top: 58px;
  animation: 1s opacity alternate infinite;
  animation-delay: 14s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-155 {
  left: 144px;
  top: 185px;
  animation: 1s opacity alternate infinite;
  animation-delay: 19s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-156 {
  left: 178px;
  top: 240px;
  animation: 2s opacity alternate infinite;
  animation-delay: 12s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-157 {
  left: 13px;
  top: 43px;
  animation: 1s opacity alternate infinite;
  animation-delay: 18s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-158 {
  left: 67px;
  top: 82px;
  animation: 1s opacity alternate infinite;
  animation-delay: 14s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-159 {
  left: 169px;
  top: 263px;
  animation: 2s opacity alternate infinite;
  animation-delay: 14s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-160 {
  left: 69px;
  top: 157px;
  animation: 2s opacity alternate infinite;
  animation-delay: 19s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-161 {
  left: 170px;
  top: 285px;
  animation: 2s opacity alternate infinite;
  animation-delay: 14s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-162 {
  left: 175px;
  top: 177px;
  animation: 1s opacity alternate infinite;
  animation-delay: 19s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-163 {
  left: 254px;
  top: 16px;
  animation: 2s opacity alternate infinite;
  animation-delay: 12s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-164 {
  left: 206px;
  top: 7px;
  animation: 1s opacity alternate infinite;
  animation-delay: 9s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-165 {
  left: 65px;
  top: 31px;
  animation: 1s opacity alternate infinite;
  animation-delay: 18s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-166 {
  left: 95px;
  top: 68px;
  animation: 2s opacity alternate infinite;
  animation-delay: 14s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-167 {
  left: 176px;
  top: 76px;
  animation: 2s opacity alternate infinite;
  animation-delay: 19s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-168 {
  left: 237px;
  top: 182px;
  animation: 1s opacity alternate infinite;
  animation-delay: 11s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-169 {
  left: 213px;
  top: 72px;
  animation: 1s opacity alternate infinite;
  animation-delay: 6s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-170 {
  left: 274px;
  top: 295px;
  animation: 2s opacity alternate infinite;
  animation-delay: 13s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-171 {
  left: 68px;
  top: 211px;
  animation: 2s opacity alternate infinite;
  animation-delay: 9s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-172 {
  left: 216px;
  top: 47px;
  animation: 1s opacity alternate infinite;
  animation-delay: 13s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-173 {
  left: 67px;
  top: 259px;
  animation: 1s opacity alternate infinite;
  animation-delay: 13s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-174 {
  left: 261px;
  top: 83px;
  animation: 1s opacity alternate infinite;
  animation-delay: 1s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-175 {
  left: 113px;
  top: 2px;
  animation: 2s opacity alternate infinite;
  animation-delay: 8s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-176 {
  left: 207px;
  top: 154px;
  animation: 1s opacity alternate infinite;
  animation-delay: 16s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-177 {
  left: 129px;
  top: 95px;
  animation: 1s opacity alternate infinite;
  animation-delay: 17s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-178 {
  left: 94px;
  top: 112px;
  animation: 2s opacity alternate infinite;
  animation-delay: 1s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-179 {
  left: 124px;
  top: 220px;
  animation: 1s opacity alternate infinite;
  animation-delay: 8s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-180 {
  left: 84px;
  top: 290px;
  animation: 2s opacity alternate infinite;
  animation-delay: 16s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-181 {
  left: 89px;
  top: 181px;
  animation: 1s opacity alternate infinite;
  animation-delay: 11s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-182 {
  left: 203px;
  top: 73px;
  animation: 1s opacity alternate infinite;
  animation-delay: 15s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-183 {
  left: 177px;
  top: 86px;
  animation: 2s opacity alternate infinite;
  animation-delay: 2s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-184 {
  left: 138px;
  top: 28px;
  animation: 2s opacity alternate infinite;
  animation-delay: 14s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-185 {
  left: 287px;
  top: 19px;
  animation: 1s opacity alternate infinite;
  animation-delay: 15s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-186 {
  left: 179px;
  top: 59px;
  animation: 2s opacity alternate infinite;
  animation-delay: 2s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-187 {
  left: 111px;
  top: 285px;
  animation: 2s opacity alternate infinite;
  animation-delay: 18s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-188 {
  left: 271px;
  top: 251px;
  animation: 1s opacity alternate infinite;
  animation-delay: 9s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-189 {
  left: 135px;
  top: 189px;
  animation: 1s opacity alternate infinite;
  animation-delay: 14s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-190 {
  left: 207px;
  top: 55px;
  animation: 1s opacity alternate infinite;
  animation-delay: 6s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-191 {
  left: 260px;
  top: 181px;
  animation: 2s opacity alternate infinite;
  animation-delay: 9s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-192 {
  left: 270px;
  top: 9px;
  animation: 1s opacity alternate infinite;
  animation-delay: 4s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-193 {
  left: 231px;
  top: 273px;
  animation: 2s opacity alternate infinite;
  animation-delay: 2s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-194 {
  left: 174px;
  top: 44px;
  animation: 1s opacity alternate infinite;
  animation-delay: 17s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-195 {
  left: 59px;
  top: 118px;
  animation: 2s opacity alternate infinite;
  animation-delay: 19s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-196 {
  left: 26px;
  top: 106px;
  animation: 2s opacity alternate infinite;
  animation-delay: 9s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-197 {
  left: 242px;
  top: 274px;
  animation: 1s opacity alternate infinite;
  animation-delay: 14s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-198 {
  left: 19px;
  top: 11px;
  animation: 1s opacity alternate infinite;
  animation-delay: 17s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-199 {
  left: 229px;
  top: 130px;
  animation: 1s opacity alternate infinite;
  animation-delay: 3s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .star.star-200 {
  left: 36px;
  top: 1px;
  animation: 1s opacity alternate infinite;
  animation-delay: 7s;
}

@keyframes opacity {
  to {
    opacity: 0.2;
  }
}

.box .container .shooting-star {
  width: 80px;
  height: 2px;
  background: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 0.8) 100%);
  border-radius: 10px;
  position: absolute;
  transform: rotate(20deg);
}

.box .container .shooting-star.shooting-star-1 {
  top: 163px;
  left: -80px;
  animation: 4s shooting-star infinite 3s;
}

@keyframes shooting-star {
  0% {
    transform: translate(0, 0) rotate(20deg);
  }
  100% {
    transform: translate(501px, 204px) rotate(20deg);
  }
}

.box .container .shooting-star.shooting-star-2 {
  top: 91px;
  left: -80px;
  animation: 4s shooting-star infinite 5.66667s;
}

@keyframes shooting-star {
  0% {
    transform: translate(0, 0) rotate(20deg);
  }
  100% {
    transform: translate(501px, 204px) rotate(20deg);
  }
}

.box .container .shooting-star.shooting-star-3 {
  top: 94px;
  left: -80px;
  animation: 4s shooting-star infinite 2.66667s;
}

@keyframes shooting-star {
  0% {
    transform: translate(0, 0) rotate(20deg);
  }
  100% {
    transform: translate(501px, 204px) rotate(20deg);
  }
}

.box .container .shooting-star.shooting-star-4 {
  top: -2px;
  left: -80px;
  animation: 4s shooting-star infinite 7s;
}

@keyframes shooting-star {
  0% {
    transform: translate(0, 0) rotate(20deg);
  }
  100% {
    transform: translate(501px, 204px) rotate(20deg);
  }
}

.box .container .shooting-star.shooting-star-5 {
  top: 67px;
  left: -80px;
  animation: 4s shooting-star infinite 4.33333s;
}

@keyframes shooting-star {
  0% {
    transform: translate(0, 0) rotate(20deg);
  }
  100% {
    transform: translate(501px, 204px) rotate(20deg);
  }
}

.box .container .shooting-star.shooting-star-6 {
  top: 8px;
  left: -80px;
  animation: 4s shooting-star infinite 8.33333s;
}

@keyframes shooting-star {
  0% {
    transform: translate(0, 0) rotate(20deg);
  }
  100% {
    transform: translate(501px, 204px) rotate(20deg);
  }
}
/*# sourceMappingURL=style.css.map */