* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 400px;
  height: 400px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: rgb(245, 204, 127);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 2px;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 14px;
  z-index: 99;

  .s {
    width: 200px;
    height: 200px;
    // border-radius: 100%;
    transform-style: preserve-3d;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    top: -100px;
    z-index: 1;
    left: -80px;
    transform: rotateX(68deg) rotateY(-18deg);
    animation: rotate 6s linear infinite;

    @keyframes rotate {
      to{
        transform: rotateX(68deg) rotateY(-18deg) rotate(360deg);
      }
    }

    .y {
      border-color: transparent transparent #fff transparent;
      border-width: 26px 26px 106px 26px;
      border-style: solid;
      background: transparent;
      background: transparent;
      position: absolute;
      transform-origin: 50% 20%;
      top: 80px;

      &:nth-last-of-type(odd) {
        border-color: transparent transparent red transparent;
      }

      @for $i from 0 through 12 {
        &.y-#{$i} {
          transform: rotate(($i * 30) + deg) rotateX(-25deg);
        }
      }
    }
  }
  .stick{
    height: 130px;
    width: 6px;
    background: #666;
    transform: rotate(-22deg) translateX(-133px) translateY(-42px);
    border-radius: 2px;

    &::after{
      content:'';
      position: absolute;
      border-radius: 2px;
      bottom: 0px;
      left: 5px;
      width: 78px;
      height: 5px;
      background: #AB9038;
    }
  }
  .s-1 {
    width: 200px;
    height: 200px;
    // border-radius: 100%;
    transform-style: preserve-3d;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    top: 105px;
    left: 170px;
    z-index: 1;
    transform:  rotateY(-30deg) rotateX(50deg);
    animation: rotate2 6s linear infinite;

    @keyframes rotate2 {
      to{
        transform: rotateY(-30deg) rotateX(50deg) rotate(360deg);
      }
    }

    .y {
      border-color: transparent transparent #AB9038 transparent;
      border-width: 10px 16px 70px 16px;
      border-style: solid;
      background: transparent;
      background: transparent;
      position: absolute;
      transform-origin: 50% 20%;
      top: 80px;

      &:nth-last-of-type(odd) {
        border-color: transparent transparent #AB9038 transparent;
      }

      @for $i from 0 through 12 {
        &.y-#{$i} {
          transform: rotate(($i * 30) + deg) rotateX(-25deg);
        }
      }
    }
  }
}
