@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400);
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 400;
}
$red:#FA7373;
$blue: #7BA2FF;
html, body {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  width: 400px;
  height: 400px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #42A7A1;
  position: relative;

  .card{
    width: 280px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .top{
      width: inherit;
      height: 60px;
      background: #F1BA64;
      padding: 6px 10px;
      border-radius: 3px 3px 0 0;
      .text-1,.text-2{
        color: #fff;
        display: flex;
        justify-content: space-between;
      }
      .text-1{
        align-items: flex-end;
        .text-1-span-1{
          font-weight: 600;
          font-size: 14px;
        }
        .text-1-span-2{
          font-weight: 600;
          font-size: 11px;
        }
      }
      .text-2{
        
        .text-2-span-1{
          font-weight: 600;
          font-size: 11px;
        }
        .text-2-span-2{
          font-weight: 600;
          font-size: 15px;
        }
      }
    }
    .bottom{
      width: inherit;
      height: 160px;
      background: #fff;
      border-radius: 0 0 3px 3px;
      display: flex;
      align-items: center;
      flex-direction: column;
      .one{
        width: 100%;
        height: 36px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .color-r,.color-b{
          font-size: 10px;
          color: #666;
        }
        .color-r{
          margin-right: 30px;
          position: relative;
          &::before{
            content: '';
            position: absolute;
            width: 12px;
            height: 3px;
            background: $red;
            left: -20px;
            top: 50%;
            border-radius: 6px;
          }
        }
        .color-b{
          margin-right: 10px;
          position: relative;
          &::after{
            content: '';
            position: absolute;
            width: 12px;
            height: 3px;
            background: $blue;
            left: -20px;
            top: 50%;
            border-radius: 6px;
          }
        }
      }
      .two{
        width: inherit;
        height: 88px;
        .dot-list-red,.dot-list-blue{
          height: 50%;
          width: inherit;
          display: flex;
          justify-content: space-around;
          align-items: center;
          .red-dot,.blue-dot{
            width: 6px;
            height: 6px;
            border-radius: 50%;
            position: relative;
            display: flex;
            align-items: center;
            cursor: pointer;
            &::after{
              content:'';
              position: absolute;
              height: 2px;
              cursor: default;
            }
            .popup{
              transform: translate(-30%,-16px);
              background: $red;
              color: #fff;
              padding: 5px;
              border-radius: 2px;
              position: absolute;
              font-size: 8px;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: .3s;
              opacity: 0;
              &::after{
                content: '';
                position: absolute;
                width: 8px;
                height: 8px;
                background: $red;
                transform: rotate(45deg) translate(6px,6px);
              }
            }
            &:hover > .popup{
              opacity: 1;
              transform: translate(-30%,-20px);
            }
          }
          .blue-dot > .popup{
            background:  $blue;

            &::after{
              background: $blue;
            }
          }
          .red-dot{background: $red;&::after{background:$red;}}
          .red-dot-1{transform: translate(0,20px);}
          .red-dot-2{transform: translate(0,-10px);}
          .red-dot-3{transform: translate(0,2px);}
          .red-dot-4{transform: translate(0,-6px);}
          .red-dot-5{transform: translate(0,14px);}
          .red-dot-6{transform: translate(0,22px);}
          .red-dot-7{transform: translate(0,-2px);}
          
          .blue-dot{
            background: $blue;
            &::after{background: $blue;
            &:hover{
              
            }
          }}
          .blue-dot-1{transform: translate(0,2px);}
          .blue-dot-2{transform: translate(0,-8px);}
          .blue-dot-3{transform: translate(0,6px);}
          .blue-dot-4{transform: translate(0,-2px);}
          .blue-dot-5{transform: translate(0,2px);}
          .blue-dot-6{transform: translate(0,6px);}
          .blue-dot-7{transform: translate(0,-2px);}

          .red-dot-1{&::after{
            transform: rotate(-38deg) translate(10px,-13px);
            width: 50px;
          }}
          .red-dot-2{&::after{
            transform: rotate(17deg) translate(5px,5px);
            width: 40px;
          }}
          .red-dot-3{&::after{
            transform: rotate(-12deg) translate(5px,-3px);
            width: 40px;
          }}
          .red-dot-4{&::after{
            transform: rotate(26deg) translate(5px,9px);
            width: 46px;
          }}
          .red-dot-5{&::after{
            transform: rotate(11deg) translate(1px,4px);
            width: 42px;
          }}
          .red-dot-6{&::after{
            transform: rotate(-31deg) translate(4px,-10px);
            width: 48px;
          }}
          .blue-dot-1{&::after{
            transform: rotate(-15deg) translate(4px,-4px);
            width: 40px;
          }}
          .blue-dot-2{&::after{
            transform: rotate(19deg) translate(4px,6px);
            width: 40px;
          }}
          .blue-dot-3{&::after{
            transform: rotate(-12deg) translate(4px,-3px);
            width: 40px;
          }}
          .blue-dot-4{&::after{
            transform: rotate(6deg) translate(4px,2px);
            width: 40px;
          }}
          .blue-dot-5{&::after{
            transform: rotate(6deg) translate(4px,2px);
            width: 40px;
          }}
          .blue-dot-6{&::after{
            transform: rotate(-12deg) translate(4px,-3px);
            width: 40px;
          }}
        }
      }
      .three{
        width: inherit;
        height: 36px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        span{
          text-transform: uppercase;
          font-size: 10px;
          color: #999;
        }
      }
    }
  }
}